{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}

  <head>
    {%- block head %}
      <title>{% block title %}{% endblock title %}</title>

      {%- block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}

      {%- block styles %}
        <link href="/static/css/bootstrap-3.1.1.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/default.css" rel="stylesheet" media="screen">
        <link href="/static/css/default-flashes.css" rel="stylesheet" media="screen">
        <link href="/static/css/default-form.css" rel="stylesheet" media="screen">
        <link href="/static/css/default-package-list.css" rel="stylesheet" media="screen">
      {%- endblock styles %}

    <script src="static/js/jquery-2.1.0.min.js"></script>
    {%- endblock head %}
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
      {% if not nonav %}
        {% include "base/nav.html" %}
      {% endif %}

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, msg in messages %}
             <div class="flash {{category}}">
               <span>{{category}} : </span> {{ msg }}
             </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    {%- endblock navbar %}

    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
      <script src="static/js/bootstrap-3.1.1.min.js"></script>
      <script src="static/js/bootstrap-notify.js"></script>
      <script type='text/javascript'>//<![CDATA[ 
        $(window).load(function(){
          $(document).ready(function () {
      
            (function ($) {
      
                // search function for div items
                $('#filter_section').keyup(function () {
      
                    var rex = new RegExp($(this).val(), 'i');
                    $('.searchable section').hide();
                    $('.searchable section').filter(function () {
                        return rex.test($(this).text());
                    }).show();
      
                });
      
                // search function for table tr items
                $('#filter').keyup(function () {
      
                    var rex = new RegExp($(this).val(), 'i');
                    $('.searchable tr').hide();
                    $('.searchable tr').filter(function () {
                        return rex.test($(this).text());
                    }).show();
      
                });
      
            }(jQuery));
      
          });
        });//]]>  
      
      </script>
    {%- endblock scripts %}

    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}

