<nav class="navbar navbar-dmg navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Domogik packages</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ url_for("packages") }}"><span class='glyphicon glyphicon-list' aria-hidden='true'></span> Packages</a>
        </li>
        <li>
          <a href="{{ url_for("submission_list") }}"><span class='glyphicon glyphicon-filter' aria-hidden='true'></span> Submitted packages</a>
        </li>
        <li>
          <a href="{{ url_for("dashboard") }}"><span class='glyphicon glyphicon-dashboard' aria-hidden='true'></span> Dashboard</a>
        </li>
        {% if g.username %}
          <li>
            <a href="{{ url_for("submit_package") }}"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Submit a package</a>
          </li>
          <li>
            <a href="{{ url_for("refused_list") }}"><span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Refused packages</a>
          </li>
        {% endif %}
        {% if g.core_team %}
          <li>
            <a href="{{ url_for("core_team") }}"><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Core team</a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if g.username %}
          <li>
              <a href="{{ url_for("user") }}">{{ g.username }}
              {% if g.core_team %}
                *
              {% endif %}
              </a>
          </li>
        {% endif %}
        <li>
          {% if g.user %}
            <a href="{{ url_for("logout") }}">Logout</a> 
          {% elif not g.build %}
            <a href="{{ url_for("login") }}">Login (github Oauth)</a>    
          {% endif %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
