<nav class="navbar navbar-dmg navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Domogik packages</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          {% if g.user %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-wrench' aria-hidden='true'></span> {% trans %}Developpers{% endtrans %} <b class="caret"></b></a>
          {% else %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-wrench' aria-hidden='true'></span> {{ g.username }}<b class="caret"></b></a>
          {% endif %}
          <ul class="dropdown-menu">
            {% if g.user %}
              <li>
                <a href="{{ url_for("logout") }}"><span class='glyphicon glyphicon-log-out' aria-hidden='true'></span> {% trans %}Logout{% endtrans %}</a>    
              </li>
            {% else %}
              <li>
                <a href="{{ url_for("login") }}"><span class='glyphicon glyphicon-log-in' aria-hidden='true'></span> {% trans %}Login (Github){% endtrans %}</a>    
              </li>
            {% endif %}
            <li>
              <a href="{{ url_for("manage_packages") }}"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> {% trans %}Manage the packages{% endtrans %}</a>
            </li>
            {% if g.user or g.username == "@developper" %}
              <li>
                <a href="{{ url_for("submitted_packages") }}"><span class='glyphicon glyphicon-flash' aria-hidden='true'></span> {% trans %}Look at the submitted packages{% endtrans %}</a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
