{% extends "base/base.html" %}

{% block content %}

<div class="container">
  <h1>Submit a package</h1>
<!--
  {% if saved %}
    <p>Package submitted</p>
  {% else %}
    <form method="post" class="form" role="form">
      <div class="form-group ">
        <label class="control-label" >Name</label> {{ form.name }}
      </div>
      <div class="form-group ">
        <label class="control-label" >Type</label> {{ form.type }}
      </div>
      <input type="submit" value="Submit the package">
    </form>
  {% endif %}
-->


  {% if step == 1 or step == 2 %}
  <form method="post" action="{{ url_for("submit_package") }}" class="form-horizontal">
    {{ form.step }}
    <div class="form-group ">
      <label class="control-label col-xs-3">Package url :</label>
      <div class="col-xs-9">
        {{ form.url_package(size=40) }} 
        <span class="help-block">Set the url to download the .zip file of your package. Example : <em>https://github.com/fritz-smh/domogik-plugin-diskfree/archive/1.0.zip</em></span>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label col-xs-3">Candidate for the category :</label> 
      <div class="col-xs-9">
        {{ form.category }}
        <span class="help-block">Choose a category for your package.</span>
        <ul>
        {% for item in categories %}
          <li>
            <strong>{{ item.name }}:</strong>
            {% if item.is_development %}
              This category must be used only to reference packages under development!. Packages submitted in this category will automatically be moved in the <em>in development packages list</em> and will be listed only in the <a href="{{ url_for("dashboard") }}">dashboard</a>.
            {% elif item.is_obsolete %}
              This category should not be used to submit any package, excepting bugfix releases for old packages releases.
            {% else %}
              Packages submitted in this category will be moved in the <a href="{{ url_for("submission_list") }}">submission list</a>. They will later be reviewed by a member of the Domogik team which will validate or refuse the package. A package may be refused several times for various reasons (documentation not finished for example).
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% if step == 1 or form.url_build_status.data %}
      <div class="form-group ">
        <label class="control-label col-xs-3">Build status :</label> 
        <div class="col-xs-9">
          {{ form.url_build_status(size=40) }}
          {% if step == 2 %}<img src="{{ form.url_build_status.data }}"/> {% endif %}
          <span class="help-block">Set the url of the picture status of the Travis CI build for your package release. Example : <em>https://api.travis-ci.org/fritz-smh/domogik-plugin-diskfree.svg?branch=1.0</em></span>
        </div>
      </div>
    {% endif %}
    {% if step == 1 or form.url_doc.data %}
      <div class="form-group ">
        <label class="control-label col-xs-3">Documentation :</label> 
        <div class="col-xs-9">
          {{ form.url_doc(size=40) }}
          <span class="help-block">Set the url of the generated documentation for your package release. Example : <em>http://domogik-plugin-diskfree.readthedocs.org/en/1.0/</em></span>
        </div>
      </div>
    {% endif %}
    {% if step == 2 %}
      <div class="form-group ">
        <label class="control-label col-xs-3">Package :</label> 
        <div class="col-xs-9">
          <p class="form-control-static">{{ form.package.data }}</p>
        </div>
      </div>
      {{ form.package }}
      {{ form.type }}
      {{ form.name }}

      <div class="form-group ">
        <label class="control-label col-xs-3">Version :</label> 
        <div class="col-xs-9">
          <p class="form-control-static">{{ form.version.data }}</p>
        </div>
      </div>
      {{ form.version }}

      <div class="form-group ">
        <label class="control-label col-xs-3">Icon :</label> 
        <div class="col-xs-9">
           <img src="/icons/{{ form.type.data }}_{{ form.name.data }}_{{ form.version.data }}.png"/>
        </div>
      </div>

      <div class="form-group ">
        <label class="control-label col-xs-3">Description :</label> 
        <div class="col-xs-9">
          <p class="form-control-static">{{ form.description.data }}</p>
        </div>
      </div>
      {{ form.description }}

      <div class="form-group ">
        <label class="control-label col-xs-3">Author :</label> 
        <div class="col-xs-9">
          <p class="form-control-static">{{ form.author.data }} - {{ form.author_email.data }}</p>
        </div>
      </div>
      {{ form.author }}
      {{ form.author_email }}

      <div class="form-group ">
        <label class="control-label col-xs-3">Tags :</label> 
        <div class="col-xs-9">
          <p class="form-control-static">{{ form.tags.data }}</p>
        </div>
      </div>
      {{ form.tags }}
      {{ form.json_version }}
      {{ form.domogik_min_version }}
      {{ form.hash_sha256 }}
    {% endif %}
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <input type="submit" value="Validate" class="btn btn-primary">
      </div>
    </div>
  </form>
  {% endif %}


  {% if step == 3 %}
    {% if success %}
      <p>The package has been submitted!</p>
    {% else %}
      <p>Oooops... The package was not submitted!</p>
    {% endif %}
  {% endif %}

</div>
{% endblock %}

