{
  "server_ip" : "0.0.0.0",
  "server_port" : "80",
  "github" : 
    {
      "client_id" : "ffffffffffff648cfebd",
      "client_secret" : "fffffffffffffffffffffff820674a076dd12ca7",
      "callback_url" : "http://my-repo.fr/github-callback"
    },
  "root_repository" : "http://repo-dev.domogik.org/",
  "categories" : 
    [
      { "id" : "development",    "name" : "Development",  "is_development" : true,  "is_obsolete" : false },
      { "id" : "stable",     "name" : "Stable",   "is_development" : false, "is_obsolete" : false },
      { "id" : "oldstable",  "name" : "Obsolete", "is_development" : false, "is_obsolete" : true }
    ],
  "dashboard" :
    {
      "components" : 
        [
          { "label" : "Domogik (master)",     "url_build_status" : "https://travis-ci.org/domogik/domogik.png?branch=master" }
        ]
     
    }
}

