{% extends "base/base.html" %}

{% block content %}
<div class="container">

  <h1>500 - Internal server error</h1>
  <div class="jumbotron">
    <p>
      Hum, how to say that... Well... There is something not good somewhere...
    </p>
    <p>
      Please retry to do the same action once... not working ? Twice... still not working ? Maybe you may notice us there is a technical error... You will find several ways to communicate with us in the bottom of <a href="http://www.domogik.org">www.domogik.org</a>
    </p>
  </div>

</div>
{% endblock %}

