{% extends "base/base.html" %}

{% block content %}

<style>
/*** override label margin ***/
.tag {
  display: inline-block;
}

#show-statistics {
  margin-bottom: 1em;
}

#statistics {
  display: none;
}
</style>

<script type="text/javascript">
// to allow the user to reload by revalidating url in address bar
window.history.replaceState("object or string", "{{ package_id }}", "/manage_a_package?package={{ package_id }}");
</script>




<div class="container">
  <h1>{% trans %}Package{% endtrans %} {{ package_id }}</h1>

  <div class="alert alert-info" role="alert">
    <h2>{% trans %}Submit a new release{% endtrans %}</h2>
    <form method="post" action="{{ url_for("submit_new_package_release") }}" class="form-inline">
      <div class="form-group ">
        <label class="sr-only" for="package">{% trans %}Package release url{% endtrans %}</label> 
        <div class="input-group">
          <div class="input-group-addon">{% trans %}Package release url :{% endtrans %}</div>
          {{ form_new.url(class_="form-control") }}
          <span class="input-group-btn">
            <input type="submit" value="{% trans %}Create{% endtrans %}" class="btn btn-primary">
          </span>
        </div>
        <span class="help-block">Fill the url of the .zip file of your package. Example : <em>https://github.com/fritz-smh/domogik-plugin-diskfree/archive/1.0.zip</em></span>
      </div>
    </form>
  </div>

  <a href="#" id="show-statistics" class="btn btn-default">{% trans %}Show statistics{% endtrans %}</a>
  <div class="row" id="statistics">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" id="hide-statistics" class="pull-right">{% trans %}Hide statistics{% endtrans %}</a>
        <h3 class="panel-title">{% trans %}Package usage statistics{% endtrans %}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <img class="img-responsive" src="/metrics/current_package_releases_{{ type }}_{{ name }}.png">
        </div>
        <div class="col-md-9">
          <img class="img-responsive" src="/metrics/weekly_package_usage_{{ type }}_{{ name }}.png">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#hide-statistics').click(function() {
        $('#statistics').hide();
        $('#show-statistics').show();
    });
    $('#show-statistics').click(function() {
        $('#statistics').show();
        $('#show-statistics').hide();
    });
  </script>

  <div class="row">
    <div class="col col-md-5">
      {% for release in releases %}
        <div class="panel panel-{% if release.status in ['STABLE'] %}primary{% else %}info{% endif %}">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans %}Release {% endtrans %}{{ release.release }}<span class="pull-right">{{ release.status }}</span></h3>
          </div>
          <table class="table">
            <tr>
              <td>
                <img src="{{ url_for("icon_for_release", type=type, name=name, release=release.release) }}" class="pull-left"> 
              </td>
              <td>
                <p>{{ release.description }}</p>
                <p>
                  {% for tag in release.tags %} 
                    <span class="tag label label-default">{{ tag }}</span>
                  {% endfor %}
                </p>
              </td>
            </tr>
            <tr>
              <td>{% trans %}Status{% endtrans %}</td>
              <td>
                {% if g.core_team %}
                  <form  method="post" action="{{ url_for("change_status") }}" class="form-inline">
                    <input type="hidden" name="package" value="{{ package_id }}">
                    <input type="hidden" name="type" value="{{ type }}">
                    <input type="hidden" name="name" value="{{ name }}">
                    <input type="hidden" name="release" value="{{ release.release }}">
                    <div class="form-group ">
                      <div class="input-group">
                        <select class="form-control" id="new_status" name="new_status"> 
                          <option>{{ release.status }}</option>
                          <option>--</option>
                          {% for a_status in release.next_status %}
                            <option>{{ a_status }}</option>
                          {% endfor %}
                        </select>
                        <span class="input-group-btn">
                          <input id="submit_new_status" type="submit" value="{% trans %}Change{% endtrans %}" class="btn btn-default">
                        </span>
                        <span id="waiting-status" class='max-height: 20px'></span>
                      </div>
                    </div>
                  </form>
                {% else %}
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {{ release.status }}
                  <a href="{{ url_for("help_lock") }}" class="btn btn-default">{% trans %}Help{% endtrans %}</a>
                  <p class="help-block">{% trans %}Only administrators can change a status.{% endtrans %}</p>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{% trans %}Review{% endtrans %}</td>
              <td>
                <a href="/reviews/{{ type }}_{{ name }}_{{ release.release }}.html">{% trans %}Read the review{% endtrans %}</a>
                <p id="review-{{ release.release | replace(".", "-") }}"></p>
              </td>
            </tr>
            <tr>
              <td>
                {% trans %}Domogik releases compliance{% endtrans %}
              </td>
              <td>
                <div>
                  {% set compliant = 0 %}
                  {% for dmg_release in domogik_releases %}
                    {% if dmg_release == release.domogik_min_release %}
                      {% set compliant = 1 %}
                    {% endif %}
                    <span class="tag label label-{% if compliant == 1 %}success{% else %}default{% endif %}">{{ dmg_release }}</span>
                    {% if dmg_release == release.domogik_max_release %}
                      {% set compliant = 0 %}
                    {% endif %}
                  {% endfor %}
                </div>
                <div>
                  {% trans %}Min : {% endtrans %} {{ release.domogik_min_release }}
                </div>
                {% if g.core_team %}
                  <form  method="post" action="{{ url_for("set_domogik_max_release") }}" class="form-inline">
                    {% trans %}Max : {% endtrans %}
                    <input type="hidden" name="package" value="{{ package_id }}">
                    <input type="hidden" name="type" value="{{ type }}">
                    <input type="hidden" name="name" value="{{ name }}">
                    <input type="hidden" name="release" value="{{ release.release }}">
                    <div class="form-group ">
                      <div class="input-group">
                        <select class="form-control" id="max_release" name="max_release"> 
                          <option>{{ release.domogik_max_release }}</option>
                          <option>--</option>
                          {% for rel in domogik_releases %}
                            <option>{{ rel }}</option>
                          {% endfor %}
                        </select>
                        <span class="input-group-btn">
                          <input id="submit_new_status" type="submit" value="{% trans %}Change{% endtrans %}" class="btn btn-default">
                        </span>
                        <span class="input-group-btn">
                          <a href="{{ url_for("help_domogik_max_release") }}" class="btn btn-default">{% trans %}Help{% endtrans %}</a>
                        </span>
                        <span class="input-group-btn">
                      </div>
                    </div>
                  </form>
                {% else %}
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {% trans %}Max : {% endtrans %}{{ release.domogik_max_release }}
                  <a href="{{ url_for("help_lock") }}" class="btn btn-default">{% trans %}Help{% endtrans %}</a>
                  <p class="help-block">{% trans %}Only administrators can change the max release compliance.{% endtrans %}</p>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{% trans %}Package url{% endtrans %}</td>
              <td><a href="{{ release.url_package }}">{{ release.url_package }}</a></td>
            </tr>
            <tr>
              <td>{% trans %}Package documentation{% endtrans %}</td>
              <td>
                <p><a href="{{ release.url_documentation }}">{{ release.url_documentation }}</a></p>
                <p id="doc-{{ release.release | replace(".", "-") }}"></p>
                <p><a class="btn btn-default" href="{{ url_for("help_documentation") }}">{% trans %}Help{% endtrans %}</a></p>
              </td>
            </tr>
            <tr>
              <td>{% trans %}Package tests{% endtrans %}</td>
              <td>
                {% if release.url_tests_img != None %}
                  <p>
                    {% trans %}Release build : {% endtrans %}<img src="{{ release.url_tests_img }}">
                  </p>
                {% endif %}
                {% if release.url_tests != None %}
                  <p>
                    <a href="{{ release.url_tests }}">{% trans %}Build details{% endtrans %}</a>
                  </p>
                {% else %}
                  <div class="alert alert-danger">
                    {% trans %}Warning : no automated tests defined for this package!{% endtrans %}
                  </div>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{% trans %}Submitted on {% endtrans %}</td>
              <td>{{ release.timestamp|datetime }}</td>
            </tr>
          </table>
        </div>
        <script type="text/javascript">
          // Check the documentation URL /////////////////////
          $.post("{{ url_for("check_url") }}", { url : "{{ release.url_documentation }}" })
          .done(function( data ) {
            $('#doc-{{ release.release | replace(".", "-") }}').html(data);
            console.log(data);
          })
          .fail(function( xhr, textStatus, errorThrown ) {
            $('#doc-{{ release.release | replace(".", "-") }}').html("{% trans %}Error while checking doc url : {% endtrans %}" + xhr.responseText);
          })
          .always(function() {
          });

          // Check the review URL /////////////////////
          var loc = window.location;
          var baseUrl = loc.protocol + "//" + loc.hostname + (loc.port? ":"+loc.port : ""); 
          $.post("{{ url_for("check_url") }}", { url : baseUrl + "/reviews/{{ type }}_{{ name }}_{{ release.release }}.html" })
          .done(function( data ) {
            $('#review-{{ release.release | replace(".", "-") }}').html(data);
            console.log(data);
          })
          .fail(function( xhr, textStatus, errorThrown ) {
            $('#review-{{ release.release | replace(".", "-") }}').html("{% trans %}Error while checking review url : {% endtrans %}" + xhr.responseText);
          })
          .always(function() {
          });
        </script>
      {% endfor %}
    </div>


    <div class="col col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Notes{% endtrans %}</h3>
        </div>
        <div class="panel-body">
          <textarea id='new_note'class="form-control" rows="3"></textarea>
          <button id='submit_new_note' class='btn btn-primary'>{% trans %}Add a note{% endtrans %}</button>
          <div id='waiting' class='max-height: 20px'>
          </div>
          <div id='notes'>
            {% for note in notes %}
              <hr>
              <p>{{ note.content | safe }}</p>
              <p class="text-right">
                <em>{{ note.author }} -  {{ note.timestamp | datetime("%d %b %Y - %H:%M") }}</em>
              </p>
            {% endfor %}
          </div>
          <script type="text/javascript">
            $('#submit_new_note').click(function() {
              $('#waiting').html("<img src='/static/images/loader_bars.svg' class='responsive'>");
              $.post( "{{ url_for('add_note') }}", { type: "{{ type }}",
                                                     name: "{{ name }}", 
                                                     content: $('#new_note').val() } )
              .done(function( data ) {
                $('#waiting').html("");
                var new_note = $("<hr><p>" + data + "</p><p class='text-right'><em>me</em></p>");
                $(new_note).prependTo($('#notes'))
              })
              .fail(function( xhr, textStatus, errorThrown ) {
              })
              .always(function() {
              });
            });
          </script>
        </div>
      </div>
    </div>


    <div class="col col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Informations{% endtrans %}</h3>
        </div>
        <table class="table">
          <tr>
            <td>{% trans %}Author email{% endtrans %}</td>
            <td>{{ informations.author_email }}</td>
          </tr>
          <tr>
            <td>{% trans %}Website{% endtrans %}</td>
            <td><a href="{{ informations.site }}">{{ informations.site }}</a></td>
          </tr>
<!-- TO ACTIVATE LATER
          <tr>
            <td>{% trans %}New plugin ?{% endtrans %}</td>
            <td>{{ informations.is_new }}</td>
          </tr>
-->
        </table>
      </div>

      <hr>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Release workflow{% endtrans %}</h3>
        </div>
        <div class='panel-body'>
          <img src="/static/worfklows/workflow-release2.svg" class="img-responsive">
        </div>
      </div>

      <hr>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Development package{% endtrans %}</h3>
        </div>
        {% if develop_package_url == None %}
          <div class="panel-body">{% trans %}No development package found.{% endtrans %}</div>
        {% else %}
          <table class="table">
            <tr>
              <td>{% trans %}Package url{% endtrans %}</td>
              <td><a href="{{ develop_package_url }}">{{ develop_package_url }}</a></td>
            </tr>
            <tr>
              <td>{% trans %}Documentation{% endtrans %}</td>
              <td>
                <p><a href="{{ develop_package_documentation_url }}">{{ develop_package_documentation_url }}</a> </p>
                <p id="doc-develop"></p>
              </td>
            </tr>
            <tr>
              <td>{% trans %}Tests{% endtrans %}</td>
              <td>
                {% if develop_package_travis_ci_status_image_url != None %}
                  <p>
                    {% trans %}Build : {% endtrans %}<img src="{{ develop_package_travis_ci_status_image_url }}">
                  </p>
                {% endif %}
                {% if develop_package_travis_ci_url != None %}
                  <p>
                    <a href="{{ develop_package_travis_ci_url }}">{% trans %}Build details{% endtrans %}</a>
                  </p>
                {% else %}
                  <div class="alert alert-danger">
                    {% trans %}Warning : no automated tests defined!{% endtrans %}
                  </div>
                {% endif %}
              </td>
            </tr>
          </table>
        {% endif %}
      </div>
      <script type="text/javascript">
        // Check the documentation URL /////////////////////
        $.post("{{ url_for("check_url") }}", { url : "{{ develop_package_documentation_url }}" })
        .done(function( data ) {
          $('#doc-develop').html(data);
          console.log(data);
        })
        .fail(function( xhr, textStatus, errorThrown ) {
          $('#doc-develop').html("{% trans %}Error while checking doc url : {% endtrans %}" + xhr.responseText);
        })
        .always(function() {
        });
      </script>



      <hr>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Opened pull requests{% endtrans %}</h3>
        </div>
        {% if pull_requests|length == 0 %}
          <div class="panel-body">{% trans %}No pull request opened.{% endtrans %}</div>
        {% endif %}
        <table class="table">
        {% for pull in pull_requests %}
          <tr><td>{{ pull | safe }}</td></tr>
        {% endfor %}
        </table>
      </div>

      <hr>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Opened issues{% endtrans %}</h3>
        </div>
        <div class="panel-body">
          {% if new_issue_url != None %}
            <a class='btn btn-danger' href='{{ new_issue_url}}'>{% trans %}Create a new issue{% endtrans %}</a>
          {% endif %}
        </div>
        {% if pull_requests|length == 0 %}
          <div class="panel-body">{% trans %}No issue opened.{% endtrans %}</div>
        {% endif %}
        <table class="table">
        {% for issue in issues %}
          <tr><td>{{ issue | safe }}</td></tr>
        {% endfor %}
        </table>
      </div>



    </div>
  </div>

</div>

{% endblock %}

