{% extends "base/base.html" %}

{% block content %}

<div class="container">
  {% if view == "submission_list" %}
    <h1>Submitted packages</h1>
    <div class="jumbotron">
      <p>
        The following packages are waiting for a validation! They could contain some bugs or contain malicious code! You should not install them unless you are totally trusting the package author.
      </p>
      <p>
        <a href="{{ url_for("packages") }}">Please find the validated packages in the dedicated page!</a>
      </p>
    </div>

  {% elif view == "packages_list" %}
    <h1>Packages</h1>

  {% elif view == "refused_list" %}
    <h1>Refused packages</h1>
    <div class="jumbotron">
      <p>
        The following packages are NOT valid. They have been rejected. This list is readable only by developpers to help them understand why some packages has been refused.
      </p>
    </div>
  {% endif %}

  {% if error %}
    <div class='error'>ERROR : {{ error }}</div>
  {% endif %}

  {% if pkg_list|length == 0 %}

    {% if view == "submission_list" %}
      <p>There is no submitted package.</p>
    {% elif view == "packages_list" %}
      <p>There is no package.</p>
    {% endif %}

  {% else %}

    <div class="search input-group"> <span class="input-group-addon">Search</span>
      <input id="filter_section" type="text" class="form-control" placeholder="Type your query here. Example : 'stable', 'nightly', 'computer', 'energy', ...">
    </div>

    <div class="searchable row row-centered">
      {% for item in pkg_list %}
        <section class="package">
          <!-- row 1 -->
          <div class="row">
           
            <!-- column 1 -->
            <div class="col-md-8">
              <h2>{{ item.type }} - {{ item.name }} - <span class="version">version {{ item.version }}</span> <img src="static/images/category-{{ item.category }}.png" alt="{{ item.category }}"/></h2>
            </div>


            <!-- column 2 -->
            <div class="col-md-4">
              <span class="pull-right">
                {% if view != "refused_list" %}
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal_install_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" href="#" ><span class='glyphicon glyphicon-saved' aria-hidden='true'></span> Install</a>
                {% endif %}
                {% if not g.build %}
                  <a class="btn btn-info download" href="{{ item.url_package }}"><span class='glyphicon glyphicon-save' aria-hidden='true'></span> Download sources</a>
                {% endif %}
              </span>
            </div>
          </div>

          <!-- row 2 -->
          <div class="row">

            <!-- column 1 -->
            <div class="col-md-2">
              <img src="icons/{{ item.type }}_{{ item.name }}_{{ item.version }}.png" alt="{{ item.type }}_{{ item.name }}_{{ item.version }} icon"/>
            </div>
  
            <!-- column 2 -->
            <div class="col-md-6">
              <div class="author">
                By {{ item.author }} {% if g.core_team %} <span class="admin">{{ item.author_email }} </span> {% endif %}
              </div>
              {% if view == "refused_list" %}
                <div class="alert alert-danger">
                  <p><strong>This package has been refused by {{ item.refused_by }} on {{ item.refused_date }}</strong></p>
                  <p><strong>The reason is : </strong> {{ item.refused_reason }}</p>
                </div> 
              {% endif %}
              <p class="description">
                {{ item.description }}
              </p>
              <ul class="tags">
                <span>Tags : </span>
                {% for tag in item.tags %}
                  <li>
                    {{ tag }}
                  </li>
                {% endfor %}
              </ul>
            </div>
  
            <!-- column 3 -->
            <div class="col-md-4">
              <div>
                <div class="right">
                  {% if item.url_doc %}
                    <a class="btn btn-primary" href="{{ item.url_doc }}" ><span class='glyphicon glyphicon-book' aria-hidden='true'></span> Documentation</a>
                  {% endif %}
                  <a class="btn btn-default" data-toggle="modal" data-target="#modal_details_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" href="#" >More details</a>
                </div>
                <div class="build right">
                  {% if item.url_build_status %} <img class="build" src='{{ item.url_build_status }}'/> {% endif %}
                </div>
                <div class="right">
                  {% if view == "packages_list" and g.core_team %}
                    <a class="btn btn-warning"  data-toggle="modal" data-target="#modal_category_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" href="#">Category</a>
                    <a class="btn btn-danger"  data-toggle="modal" data-target="#modal_delete_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" href="#">Delete</a>
                  {% endif %}

                  {% if view == "submission_list" and g.core_team %}
                    <a class="btn btn-warning" data-toggle="modal" data-target="#modal_validate_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" href="#">Validate</a>
                    <a class="btn btn-warning" data-toggle="modal" data-target="#modal_refused_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" href="#">Refuse</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>


          <div id="modal_install_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Install the package</h4>
                </div>
                <div class="modal-body">
                  <h3>Instructions</h3>
                    <p>
                      Just execute the given command line in a terminal as the domogik user.
                    </p>
                  <h3>Command line for the first installation</h3>
                    <pre> dmg_package --install {{ item.url_package }} --hash {{ item.hash_sha256 }}   </pre>
                  <h3>Command line for an upgrade</h3>
                    <pre> dmg_package --upgrade {{ item.url_package }} --hash {{ item.hash_sha256 }}   </pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
  
          {% if view == "submission_list" and g.core_team %}
            <div id="modal_validate_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method="post" action="{{ url_for("validate_package") }}">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Validate a package</h4>
                    </div>
                    <div class="modal-body">
                      <input name="type" type="hidden" value="{{ item.type }}">
                      <input name="name" type="hidden" value="{{ item.name }}">
                      <input name="version" type="hidden" value="{{ item.version }}">
                      <p><label class="control-label">Set the package category to </label></p>
                      <select id="category" name="category">
                        {% for category in categories %}
                          <option value="{{ category.id }}" {% if item.category == category.id %} selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" href="{{ url_for("refuse_package") }}?type={{ item.type }}&name={{ item.name }}&version={{ item.version }}&reason=foobar">Validate the package</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
  
            <div id="modal_refused_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method="post" action="{{ url_for("refuse_package") }}">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Refuse a package</h4>
                    </div>
                    <div class="modal-body">
                      <input name="type" type="hidden" value="{{ item.type }}">
                      <input name="name" type="hidden" value="{{ item.name }}">
                      <input name="version" type="hidden" value="{{ item.version }}">
                      <p><label class="control-label">Give a reason to refuse the package :</label></p>
                      <textarea class="" name="reason" rows="4" placeholder="The reason..."></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" href="{{ url_for("refuse_package") }}?type={{ item.type }}&name={{ item.name }}&version={{ item.version }}&reason=foobar">Refuse the package</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}


          <div id="modal_details_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">More details</h4>
                </div>
                <div class="modal-body">
                  <ul>
                    <li>Category : {{ item.category }} </li>
                    <li>Hash (sha256) : {{ item.hash_sha256 }} </li>
                    <li>Submitted by : {{ item.submitter }} on {{ item.submission_date }}</li>
                    {% if item.validation_by %}
                      <li>Validated by : {{ item.validation_by }} on {{ item.validation_date }}</li>
                    {% endif %}
                    <li>Json format version : {{ item.json_version }}</li>
                    <li>Domogik minimal version required : {{ item.domogik_min_version }}</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
                
          {% if view == "packages_list" and g.core_team %}
            <div id="modal_category_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method="post" action="{{ url_for("change_category") }}">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Package category</h4>
                    </div>
                    <div class="modal-body">
                      <input name="type" type="hidden" value="{{ item.type }}">
                      <input name="name" type="hidden" value="{{ item.name }}">
                      <input name="version" type="hidden" value="{{ item.version }}">
                      <p><label class="control-label">Set the package category to </label></p>
                      <select id="category" name="category">
                        {% for category in categories %}
                          <option value="{{ category.id }}" {% if item.category == category.id %} selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" href="{{ url_for("change_category") }}">Change the category</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div id="modal_delete_{{ item.type }}_{{ item.name }}_{{ item.version|replace(".", "_") }}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method="post" action="{{ url_for("delete_package") }}">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Delete a package</h4>
                    </div>
                    <div class="modal-body">
                      <input name="type" type="hidden" value="{{ item.type }}">
                      <input name="name" type="hidden" value="{{ item.name }}">
                      <input name="version" type="hidden" value="{{ item.version }}">
                      <p>You will definitly remove the package from the packages list! If you want to just set it as an old package, <strong>you may set its category to one of the following categories : </strong></p>
                      <ul>
                        {% for category in categories %}
                          {% if category.is_obsolete %}
                          <li>{{ category.name }} (id={{ category.id }})</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                      <p>Are you really sure you want to delete the package ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger" href="{{ url_for("delete_package") }}">Delete the oackage</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
                
        </section>
      {% endfor %}
    </div>
  {% endif %}

</div>
{% endblock %}

