{% extends "base/base.html" %}

{% block content %}

<div class="container">
  <h1>{% trans %}New package release{% endtrans %}</h1>

  {% if new_package %}
  <div id='status'>
    <span id='downloading' class='label label-success'>{% trans %}Downloading the package{% endtrans %}</span>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span id='settings' class='label label-success'>{% trans %}Configuring the package{% endtrans %}</span>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span id='done' class='label label-success'>{% trans %}Creating the package{% endtrans %}</span>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span id='submiting_release' class='label label-warning'>{% trans %}Submitting the package release{% endtrans %}</span>
  </div>
  <hr>
  {% endif %}

</div>

<div id='forms'>
  <div class='container'>
    <div class='alert alert-info'>
      <p>{% trans %}We are downloading the package release to check it.{% endtrans %}</p>
      <p><strong>{% trans %}This action may take some time (a few minutes sometimes).{% endtrans %}</strong></p>
    </div>
  </div>
</div>


<script type="text/javascript">
$('#submiting_release').removeClass();
$('#submiting_release').addClass('label label-warning');
$.post( "{{ url_for('submit_new_package_release_async') }}", { url: "{{ url }}" } )
  .done(function( data ) {
    {% if new_package %}
      $('#submiting_release').removeClass();
      $('#submiting_release').addClass('label label-success');
    {% endif %}
    $('#forms').html(data);
  })
  .fail(function( xhr, textStatus, errorThrown ) {
    {% if new_package %}
      $('#submiting_release').removeClass();
      $('#submiting_release').addClass('label label-danger');
    {% endif %}
    $('#forms').html(xhr.responseText);
  })
  .always(function() {
  });
</script>


{% endblock %}

